#app-container{
    margin: 10px auto;
    background-color:red;
}
#app-container{
  display: flex;
  flex-wrap: wrap;
}
.images_upload_container {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 100px;
  background-color: blue;
}
#upload-image{
    width: 20%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    //margin: auto auto;
    cursor: pointer;
}
//#output-image-upload{
//    width: 50%;
//    height: 60px;
//    line-height: 60px;
//    border-width: 1px;
//    border-style: dashed;
//    border-radius: 5px;
//    text-align: center;
//}
#images_upload_container{
    display: flex;
}
